body{
  background-image: url("image/8607-halloween-night,-haunted-house,-full-moon,-bats-free-download-wallpaper-hd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #240a30;
  margin: 0;
}
/* footer */
footer.bottomFooter{
  position: fixed;
  /*min-height: 100%;*/
  left: 0;
  bottom: 0;
  width: 100%;
  color: #8a2bba;
  min-height: auto;
  font-size: 15px;
  font-weight: bolder;
  font-family:  "Comic Sans MS", sans-serif;

}

.container.master{
  min-height: 100%;
}


  /* Welcom section */
div.welcome{
  position: fixed;
  top: 10%;
  left: 35%;
}
/* Register + Login Buttons in Welcome Page*/
td {
  padding: 15px;
}
.registerBtn{
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #f5f10c;
  color: #2aab07;
  font-family: 'HallowenInline', sans-serif;
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
  0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.loginBtn {
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #f5f10c;
  color: #2aab07;
  font-family: "HallowenInline", sans-serif;
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
  0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.loginBtn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
  0 1px 1px 0 rgba(0,0,0,0.09);
}
.registerBtn:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
  0 1px 1px 0 rgba(0,0,0,0.09);
}
/* Header Logo + App Name - required in instructions */
div.logo{
  float: end;
  position: absolute;
  min-height: 30px;
  top: 0;
  width: 100%;
  padding-left: 5%;
  padding-top: 10px;
  text-align: center;
  font-family: "Wicked Tricker", serif;
  font-size: 12px;
}


 /*Navigation Bar*/
.navbar {
  position: relative;
  padding-top: 2%;
  margin-bottom: 40px;
  margin-top: 0;
  padding-right: 2%;
  padding-left: 1%;
  border: 1px solid transparent;
  border-radius: 60px;
  z-index: 1030;
}
.navbar ul{
  display:inline-block;
  top: 0;
  margin:0;
  padding:0;
  list-style:none;
  transform:skewX(7deg);
  transform:skewY(10deg);
  z-index: 1030;  /*@zindex-navbar-fixed:  1030; */
}
.ulNav ul {
  top: 0 ;
  position:  relative;
  list-style-type: none;
  min-height: 35px;
  margin: 0;
  padding: 0;
}
.ulNav li {
  float: left;
  min-height: 15px;
}
.ulNav li a {
  display: block;
  float: left;
  color:#fa6800;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color:black;
  font-family: "OCR A Std", monospace;
  font-weight: 600;
  font-variant: small-caps;
  font-size: 25px;
  min-height: 3px;
}

/* header */
.developersID {
  /*was padding: auto; but was error so i changed it to initial*/
  padding: initial;
  text-align: center;
  padding-top: 20px;
  text-align: center;
  font-family: "Wicked Tricker", cursive;
  font-size: 25px;
  color: #fa6800;
}


/* login Page  */
div.login{
  display: block;
  margin-left: 40%;
  margin-top: 10%;
  width: 50%;
}
input[type="button"] {
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #f5f10c;
  color: #2aab07;
  font-family: "HallowenInline", sans-serif;
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
  0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
input[type="button"]:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
  0 1px 1px 0 rgba(0,0,0,0.09);
}
/* register form */
#register{
 width: 50%;
}
form.register{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-family: "Night Mare", serif;
  font-size: 14px;
  color: white;
}
h1.register{
  text-align: left;
  font-size: 40px;
  font-weight: 600;
  font-family: "Night Mare", sans-serif;
  /*color: #3c3cef;*/
  color: #1d9113;
  text-shadow: 2px 2px  #8a2bba;
}
p.pleaseFill{
  font-family: "Night Mare", monospace;
  font-weight: 600;
  font-variant: small-caps;
  font-size: 30px;
  color: whitesmoke;
  text-shadow: 2px 2px #1d9113;
}
label.registerFields{
 font-family: "Night Mare", sans-serif;
  font-size: 20px;
  text-shadow: 1px 1px #1d9113;
}
button{
  margin-bottom: 4%;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #f5f10c;
  color: #2aab07;
  font-family: "HallowenInline", sans-serif;
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
  0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
button:hover {
  transform: translateY(1px);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
  0 1px 1px 0 rgba(0,0,0,0.09);
}
input.register{
  margin: 2%;
  font-size: 15px;
  font-style: oblique;
  font-weight: bold;
}
/*Loading GIF */
.center {
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
/*###################################################################################*/

label.settingsFields{
  font-family: "Night Mare", sans-serif;
  font-size: 20px;
  text-shadow: -1px -1px  #ff5349;
}
form.settings{
  display: block;
  margin-top: 18px;
  font-family: "Wicked Tricker", serif;
  font-size: 14px;
  color: whitesmoke;
}
input.settings{
  font-size: 10px;
  font-style: oblique;
  font-family: "Night Mare", sans-serif;
}

/*#####################################################################################*/


/* The Modal */
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  text-align: left;
  height: fit-content;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
  /*background-color: #fefefe;*/
  margin: auto;
  padding: 20px;
  border: 2px solid yellowgreen;
  width: 50%;
  height: 70%;
  background-color: gray;
  font-family: halloween, sans-serif;
  font-size: x-small;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

a.modalLinks{
  font-size: smaller;
  font-family: halloween, sans-serif;
}
/* The CloseAbout (x) button  */
.closeAbout {
  display: inline-block;
  color: whitesmoke;
  float: right;
  font-size: 20px;
  font-weight: bold;
}
.closeAbout:hover,
.closeAbout:focus {
  color: red;
  cursor: pointer;
  font-weight: bold;
}


h3{
  font-family: "halloween", sans-serif;
  font-size: medium;
  color: yellowgreen;
}
h4{
  text-align: left;
  font-size: 50%;
  font-family: "halloween", sans-serif;
  color: saddlebrown;
  float: left;
}
.clearFix{
  overflow: auto;
}
/*##################################################################################*/

@font-face {
  font-family: 'HalloWitchZ';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/HalloWitchZ.ttf');
}
@font-face {
  font-family: 'Wicked Tricker';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Wicked Tricker.ttf');
}
@font-face {
  font-family: 'CFHalloween-Regular';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/CFHalloween-Regular.ttf');
}
@font-face {
  font-family: 'spiderfont';
  font-weight: 200;
  font-style: normal;
  src: url('fonts/spiderfont.ttf');
}
@font-face {
  font-family: 'HallowenInline';
  font-weight: 300;
  font-style: normal;
  src: url('fonts/HallowenInline.ttf');
}
@font-face {
  font-family: 'JFWilwod';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/JFWilwod.ttf') format('woff');
}
@font-face {
  font-family: 'Night Mare';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/Night Mare.ttf') format('woff');
}
@font-face {
  font-family: 'halloween';
  font-weight: 400;
  font-style: normal;
  src: url('fonts/halloween.ttf') format('woff');
}

/*##################################################################################*/

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
/*### SETTINGS FORM ARROWS ###*/
input#upId {
  background-image: url('http://www.clker.com/cliparts/f/8/f/9/11949856021028737245arrow-up-seagreen_benji__01.svg.thumb.png');
  background-size:contain;
  background-repeat: no-repeat;
  text-indent: 30px;
}
input#upId:focus {
  background-image:none;
  text-indent:0px
}

input#downId {
  background-image: url('http://www.clker.com/cliparts/1/b/9/c/1194985592838536401arrow-down-seagreen_benj_01.svg.thumb.png');
  background-size:contain;
  background-repeat: no-repeat;
  text-indent: 30px;
}
input#downId:focus {
  background-image:none;
  text-indent:0px
}

input#rightId {
  background-image: url('http://www.clker.com/cliparts/7/d/2/1/11949855991300783204arrow-right-seagreen_ben_01.svg.thumb.png');
  background-size:contain;
  background-repeat: no-repeat;
  text-indent: 35px;
}
input#rightId:focus {
  background-image:none;
  text-indent:0px
}

input#leftId {
  background-image: url('http://www.clker.com/cliparts/2/8/e/f/11949855951294915841arrow-left-seagreen_benj_01.svg.thumb.png');
  background-size:contain;
  background-repeat: no-repeat;
  text-indent: 35px;
}
input#leftId:focus {
  background-image:none;
  text-indent:0px
}

/*###  THE GAME  ####*/
.gameArea {
  position: relative;
  margin-top: 10%;
  margin-bottom: -5%;
  font-family: "Night Mare", sans-serif;
  overflow: auto; /* Enable scroll if needed */
  display: inline-flex;
  width: -moz-max-content;
}
input.rightPanel{
  font-size: 10px;
  font-style: oblique;
  font-family: "Night Mare", sans-serif;
}

div#frame {
  border-style: dotted ;
  border-color: yellow;
  overflow: auto;
  display: inline-flex;
  width: -moz-max-content;
}

div#game{
  background-color: yellowgreen;
}
div#leftPanel {
  position: relative;
  float: left;
  width: border-box;
  text-align: center;
  border: 3px solid grey;
  border-radius: 5px;
  background-color: #826233;
  color: yellowgreen;
  overflow: auto;
}
div#rightPanel{
  background-color: #7e08fc;
  color: greenyellow;
  font-family: "Night Mare", sans-serif;
  font-weight: bold;
  overflow: auto; /* Enable scroll if needed */
  /*background-image: linear-gradient(to left, #4e3063, #331d42);*/
}

div#game {
  width: fit-content;
  border: 3px solid yellow;
  border-radius: 10px;
  overflow: auto;
}

.gameButtons {
  /*position: center;*/
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  overflow: auto;
  margin-bottom: 4%;
  padding: 7px 35px;
  border-radius: 60px;
  display: inline-block;
  background-color: #ff4800;
  color: #6607f5;
  border-color: yellowgreen;
  font-family: "HallowenInline", sans-serif;
  font-style: oblique;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
  0 2px 10px 0 rgba(0,0,0,0.07);
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

table.settingsRightPanel{
  font-family: "HallowenInline", sans-serif;
  font-style: oblique;
  font-weight: bold;
  font-size: 16px;
  width: fit-content;
  float: right;
  border: 5px solid yellow;
  border-radius: 5px;
  text-align: left;
  overflow: auto;

}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
  color: black;
  border-color: black;
}
.right {
  background-image: url('http://www.clker.com/cliparts/7/d/2/1/11949855991300783204arrow-right-seagreen_ben_01.svg.thumb.png');
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  color: #240a30;
  border-color: black;
}
.left {
  background-image: url('http://www.clker.com/cliparts/2/8/e/f/11949855951294915841arrow-left-seagreen_benj_01.svg.thumb.png');
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  color: #240a30;
  border-color: black;
}
.up {
  background-image: url('http://www.clker.com/cliparts/f/8/f/9/11949856021028737245arrow-up-seagreen_benji__01.svg.thumb.png');
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  color: #240a30;
  border-color: black;
}
.down {
  background-image: url('http://www.clker.com/cliparts/1/b/9/c/1194985592838536401arrow-down-seagreen_benj_01.svg.thumb.png');
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  color: #240a30;
  border-color: black;
}
.sidePanelR{
  text-align: center;
  vertical-align: middle;
  color: #240a30;
  font-size: 20px;
}
.sidePanelRL{
  text-align: center;
  vertical-align: middle;
  color: greenyellow;
  font-size: 15px;
}